
@import "owl.carousel.css";
@import "simple-line-icons.css";
@import "slick.css";
@import "themify-icons.css";
@import "animate.css";
@import "font-awesome.min.css";


/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container{
	position: relative;
}
.mean-container .mean-bar {
  background: transparent none repeat scroll 0 0;
  float: left;
  left: 6px;
  min-height: 42px;
  padding: 4px 0;
  position: absolute;
  top: -71px;
  width: 96%;
  z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #E66D00;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #E66D00;
	height: 3px;
	margin-top: 5px;
	width: 30px;
}

.mean-container .mean-nav {
  background: #231f20 none repeat scroll 0 0;
  float: left;
  margin-left: 10px;
  margin-top: 44px;
  width: 99%;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
  border-top: 1px solid rgba(230, 109, 0, 0.5);
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 11px 36px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 90%;
}
.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid rgba(230, 109, 0, 0.5);
	border-top: 1px solid rgba(230, 109, 0, 0.5);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  background: #e66d00 none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.4) !important;
  border-image: none !important;
  border-style: none none solid solid !important;
  border-width: medium medium 1px 1px !important;
  font-weight: 700;
  height: 21px;
  margin-top: 1px;
  padding: 9px !important;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 27px;
  z-index: 2;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #CD6304;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}



/*Preloader Style Css*/


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.slider-area{
	position: relative;
}
.slider-preloader {
  background: #e66d00 none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 11;
}
.slider-preloader .spinner {
  left: 50%;
  margin: -20px auto 0 -20px;
  position: absolute;
  top: 50%;
  background-color: #fff;
}