/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1367px) and (max-width: 1920px) {
    .mobile-menu-area {
        display: none;
    }
    .slider-item {
        height: 700px;
    }
    .slide-text {
        padding: 159px 0;
    }
    .slider-conrent-picture {
        bottom: -114px;
    }
}


/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {
    .container {
        width: 1200px
    }
    .mobile-menu-area {
        display: none;
    }
}


/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {
    .container {
        width: 970px
    }
    .mobile-menu-area {
        display: none;
    }
    .slick-dots li {
        display: none;
    }
    .main-menu li a {
        padding: 44px 9px;
    }
    .search-btn {
        height: 44px;
        width: 184px;
    }
    .search--cintrol {
        height: 45px;
        width: 65%;
    }
    .search-domain-wrapper .checkbox {
        margin-right: 7px;
    }
    .plan-extra-item {
        margin-left: 7px;
        margin-right: 8px;
        width: 15%;
    }
    .plan-extra-item h3 {
        font-size: 18px;
    }
    .plan-extra-item.plan-extra-head > span {
        font-size: 13px;
    }
    .feature-item > h4 {
        font-size: 20px;
    }
    .get-started-wrapper > p {
        font-size: 19px;
    }
    .get-started-wrapper > h2 {
        font-size: 26px;
    }
    .stats-item-heading > h4 {
        font-size: 18px;
    }
    .post-content {
        padding: 13px;
    }
    .slider-item {
        height: 500px;
    }
    .slide-text {
        padding: 68px 0;
    }
    .slide-text h1 {
        font-size: 40px;
    }
    .slide-text > h2 {
        font-size: 24px;
    }
    .about-promo-pic img {
        margin-top: 50px;
    }
    .choose-icon {
        position: relative;
        top: 40px;
        display: inline-block;
    }
    .choose-item > h4 {
        margin-left: 35px;
    }
    .choose-right-content > h3 {
        margin: 0 15px;
        margin-top: 20px;
    }
    .choose-icon i {
        margin-bottom: 0;
    }
    .col-md-6:nth-child(-n+2) .choose-item {
        margin-bottom: 0;
    }
    .choose-left-content img {
        margin-top: 52px;
    }
    .service-item h4 {
        font-size: 16px;
    }
    .pagination-nav.blog-sidebar.list-inline {
        margin-bottom: 80px;
        text-align: center;
    }
    .widget-search {
        width: 157px;
    }
    .not-found-wrapper h2 {
        font-size: 50px;
    }
    .not-found-wrapper h1 {
        font-size: 150px;
    }
    .under-construction-wrapper h1 {
        font-size: 60px;
    }
    .form-control.construction-subscribe {
        width: 75%;
    }
    .under-construction-wrapper > p {
        width: 100%;
    }
    .form-item.hanf-line {
        width: 47%;
    }
    .form-item.full-line input {
        width: 97%;
    }
    .preview-banner h1 {
        font-size: 30px;
    }
    .preview-banner > p {
        font-size: 15px;
    }
}


/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px
    }
    .mainmenu-area {
        display: none;
    }
    .search-domain-wrapper {
        padding: 45px 18px;
    }
    .domain-search-title.text-center {
        font-size: 21px;
        margin-bottom: 18px;
    }
    .search--cintrol {
        height: 42px;
        width: 65%;
    }
    .search-btn {
        height: 41px;
        width: 150px;
    }
    .chack-box-wrapper {
        text-align: center;
    }
    .plan-extra-item {
        width: 33.3333%;
    }
    .plan-extra-head::after {
        display: none;
    }
    .plan-extra-head::before {
        display: none;
    }
    .plan-extra-item.plan-extra-head {
        margin-bottom: 20px;
        width: 100%;
    }
    .plan-extra-item {
        margin: 0 13px;
        width: 16%;
    }
    .plan-extra-item.item > p {
        font-size: 13px;
    }
    .get-started-wrapper > p {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .get-started-btn.button {
        letter-spacing: 1px;
        line-height: 53px;
        padding: 0 28px;
    }
    .call-to-action-btn {
        padding: 99px 0;
    }
    .single-stats-item {
        width: 50%;
    }
    .col-md-4 .single-price-table:nth-child(-n+2) {
        margin-bottom: 40px;
    }
    .col-md-4.col-sm-6:last-child .blog-post {
        display: none;
    }
    .col-md-3.col-sm-6:nth-child(-n+2) .footer-widget-item {
        margin-bottom: 40px;
    }
    .slick-dots li {
        display: none;
    }
    .slide-text h1 {
        font-size: 30px;
    }
    .slide-text > h2 {
        font-size: 20px;
    }
    .slide-text li {
        font-size: 18px;
        margin: 5px 0;
    }
    .slider-item {
        height: 460px;
    }
    .slide-text {
        padding: 69px 0;
    }
    .form-item.hanf-line {
        width: 47%;
    }
    .form-item.full-line input {
        width: 96%;
    }
    .checkout-sldebar .chack-out-heading {
        margin-bottom: 20px;
        margin-top: 50px;
        text-align: center;
    }
    .about-promo-pic {
        margin-bottom: 40px;
    }
    .about-promo-content {
        text-align: center;
    }
    .heading-three::before {
        display: none;
    }
    .heading-three::after {
        display: none;
    }
    .team-social li a {
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        margin: 0 1px;
        width: 30px;
    }
    .partnar-item.item img {
        width: 100%;
    }
    .service-item {
        padding: 40px 15px;
    }
    .col-md-3.col-sm-6:nth-child(-n+8) .service-item {
        margin-bottom: 40px;
    }
    .choose-left-content,
    .choose-right-content {
        margin: 0 auto;
        width: 600px;
    }
    .pagination-nav.blog-sidebar.list-inline {
        margin-bottom: 60px;
        text-align: center;
    }
    .comment-form {
        margin-bottom: 50px;
    }
    .widget-search {
        width: 300px;
    }
    .not-found-wrapper h1 {
        font-size: 100px;
    }
    .not-found-wrapper h2 {
        font-size: 41px;
    }
    .under-construction-wrapper h1 {
        font-size: 46px;
    }
    .form-control.construction-subscribe {
        width: 67%;
    }
    .under-construction-wrapper > p {
        width: 100%;
    }
    .copyright {
        float: left;
        padding: 15px 0;
    }
    .get-started-wrapper {
        margin-top: 22px;
    }
    .col-md-3.col-sm-4:nth-child(n+5) .cms-client-item,
    .col-md-3.col-sm-4:nth-child(n+5) .server-client-item,
    .col-md-3.col-sm-4:nth-child(n+5) .marketplace-client-item {
        margin-top: 25px;
    }
    .cms-client-item img,
    .server-client-item img,
    .marketplace-client-item img {
        width: 80%;
    }
    .plan-heading {
        width: 600px;
    }
    .page-title-link li {
        float: none;
        display: inline-block;
    }
    .page-title {
        text-align: center;
    }
    .loginbox-wrapper,
    .regbox-wrapper {
        z-index: 9999999;
    }
    .col-md-3.col-sm-6:nth-child(n+3) .preview-counter-item {
        margin-top: 30px;
    }
    .preview-banner h1 {
        font-size: 27px;
    }
    .preview-banner > p {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .preview-banner {
        margin: 115px 0;
    }
    .get-started-wrapper > h2 {
        font-size: 25px;
    }
    .form-group:last-child {
        margin-bottom: -80px;
    }
}


/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .mainmenu-area {
        display: none;
    }
    .search-domain-area {
        left: 0;
        position: absolute;
        right: 0;
        top: 45px;
        transform: translateY(0%);
    }
    .domain-search-title {
        display: none;
    }
    .slider-item {
        height: 365px;
    }
    .search-domain-wrapper {
        margin: 20px -17px;
        padding: 20px;
        width: 300px;
    }
    .search--cintrol {
        height: 42px;
        margin-bottom: 15px;
        width: 100%;
    }
    .search-btn {
        font-size: 16px;
        height: 42px;
        margin: 0 26px;
    }
    .search-domain-wrapper .checkbox {
        padding-left: 14px;
    }
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"],
    .radio input[type="radio"],
    .radio-inline input[type="radio"] {
        margin-left: -20px;
    }
    .slider-item > img {
        height: 300px;
    }
    .checkbox.checkbox-warning:nth-child(n+5) {
        display: none;
    }
    .header-top-areae {
        height: auto;
    }
    .language-top {
        display: none;
    }
    .header-top-left,
    .header-top-right {
        text-align: center;
        margin-bottom: 10px;
    }
    .login-reg {
        float: none;
    }
    .plan-extra-item {
        width: 50%;
    }
    .plan-extra-item.plan-extra-head {
        margin-bottom: 20px;
        width: 100%;
    }
    .plan-extra-item:last-child {
        display: none;
    }
    .plan-extra-head::after,
    .plan-extra-head::before {
        display: none;
    }
    .main-heading {
        width: 100%;
        margin: 0 auto 40px;
    }
    .main-heading h2 {
        font-size: 26px;
    }
    .col-md-4 .single-price-table {
        margin-bottom: 30px;
    }
    .col-md-4:last-child .single-price-table {
        margin-bottom: 0px;
    }
    .pricing-filter li a {
        font-size: 12px;
        margin-bottom: 7px;
        padding: 7px 5px;
    }
    .get-started-wrapper > p {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 13px;
        margin-top: 23px;
    }
    .get-started-btn.button {
        height: 40px;
        letter-spacing: 2px;
        line-height: 40px;
        margin-left: 0;
        padding: 0 33px;
    }
    .single-stats-item {
        width: 100%;
    }
    .col-md-4.col-sm-6 .blog-post,
    .col-md-3.col-sm-6 .footer-widget-item {
        margin-bottom: 50px;
    }
    .col-md-4.col-sm-6:last-child .blog-post,
    col-md-3.col-sm-6:last-child .footer-widget-item {
        margin-bottom: 0;
    }
    .partnar-item.item {
        text-align: center;
    }
    .footer-area {
        height: auto;
    }
    .copyright > p {
        line-height: 20px;
    }
    .slick-dots > li {
        display: none;
    }
    .form-item.hanf-line {
        width: 100%;
    }
    .form-item.full-line input {
        width: 100%;
    }
    .checkout-sldebar .chack-out-heading {
        margin-bottom: 20px;
    }
    .about-promo-pic img {
        margin-bottom: 50px;
    }
    .col-md-3.col-sm-6:nth-child(-n+8) .service-item {
        margin-bottom: 40px;
    }
    ul.meta-teg {
        margin-bottom: 8px;
    }
    .pagination-nav.blog-sidebar.list-inline {
        margin-bottom: 70px;
        text-align: center;
    }
    .input-field {
        width: 100%;
    }
    .comment-form {
        margin-bottom: 50px;
    }
    .slider-conrent-picture {
        display: none;
    }
    .slide-text {
        padding: 50px 0;
    }
    .slide-text h1 {
        margin-left: 0;
        font-size: 25px;
    }
    .slide-text > h2 {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .owl-nav {
        display: none;
    }
    .slide-text li {
        font-size: 13px;
        margin: 1px 0;
    }
    .slide-text ul {
        margin-bottom: 20px;
    }
    .button.slider-single-btn {
        height: 40px;
        line-height: 40px;
        margin: -1px 2px;
        padding: 0 20px;
    }
    .not-found-wrapper h1 {
        font-size: 100px;
    }
    .not-found-wrapper h2 {
        font-size: 23px;
    }
    .under-construction-wrapper > p {
        width: 100%;
    }
    .under-construction-wrapper h1 {
        font-size: 26px;
    }
    .form-control.construction-subscribe {
        width: 100%;
    }
    .construction-submit {
        margin-bottom: 30px;
        margin-top: -12px;
    }
    .copyright {
        float: left;
    }
    .checkbox label::before {
        margin-left: -25px;
    }
    input.styled[type="checkbox"]:checked + label::after,
    input.styled[type="radio"]:checked + label::after {
        left: 11px;
    }
    .get-started-wrapper {
        padding-bottom: 0;
        padding-top: 30px;
        text-align: center;
    }
    .call-to-action-btn {
        padding: 30px;
        text-align: center;
    }
    .mean-container .mean-nav {
        margin-left: 4px;
    }
    .mean-container .mean-nav ul li a {
        padding: 11px 14px;
    }
    .newsletter {
        margin-bottom: 40px;
        width: 80%;
    }
    .col-md-3.col-sm-4:nth-child(n+1) .cms-client-item,
    .col-md-3.col-sm-4:nth-child(n+1) .server-client-item,
    .col-md-3.col-sm-4:nth-child(n+1) .marketplace-client-item {
        margin-top: 25px;
    }
    .plan-heading {
        width: 100%;
    }
    .loginbox.login-page-box,
    .loginbox.reg-page-box {
        background: #f1f1f1 none repeat scroll 0 0;
        padding: 40px 10px 50px;
    }
    .page-title-link li {
        float: none;
        display: inline-block;
    }
    .page-title {
        text-align: center;
    }
    .loginbox-wrapper,
    .regbox-wrapper {
        z-index: 9999999;
    }
    .loginbox-wrapper,
    .regbox-wrapper {
        left: -89px;
        width: 312px;
    }
    .regbox-wrapper {
        left: -149px;
    }
    .col-md-3.col-sm-6:nth-child(n+1) .preview-counter-item {
        margin-bottom: 30px;
    }
    .col-md-3.col-sm-6:last-child .preview-counter-item {
        margin-bottom: 0;
    }
    .copyright {
        float: left;
        padding: 13px 0;
    }
    a.button {
        padding: 0 13px;
        line-height: 39px;
        height: 40px;
    }
    a.button.button-transparent {
        margin-left: 4px;
    }
    .main-heading.text-center > p {
        margin: 0 auto;
        width: 80%;
    }
    .Author-left,
    .date-right {
        font-size: 12px;
    }
    .post-content-inner > h3 {
        font-size: 13px;
    }
    .contact-area {
        text-align: center;
    }
    .col-md-3.col-sm-6:last-child .footer-widget-item {
        margin-bottom: -15px;
    }
}


/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .mainmenu-area {
        display: none;
    }
    .search-domain-area {
        left: 71px;
        width: 100%;
    }
    .price-tage-wrap::before {
        left: -136px;
        top: -37px;
        width: 200px;
    }
    .price-tage-wrap::after {
        ;
        right: -135px;
        top: 118px;
        width: 200px;
    }
    .search-domain-wrapper {
        margin: 41px 0;
        width: 400px;
    }
    .search-btn {
        margin: 0 73px;
    }
    .chack-box-wrapper {
        text-align: center;
    }
    .slick-dots > li {
        display: none;
    }
    .mean-container .mean-nav ul li a {
        padding: 11px 21px;
    }
}
