/*------------------------------------------------------------------------------------
Template Name: Hostzone Domain Hosting Template
Template URI: http://wpdna.com/html/Hostzone-preview
Description: Domain Hosting Base template for business.
Author: ThemeWrapper
Author URI: http://
Version: 1.0
-------------------------------------------
CSS INDEX
=================== 
1. THEME DEFAULT CSS
2. MAIN HEADER STYLE
  2.1 START HEADER TOP
  2.2  MAIN MENU STYLE
  2.3  DROPDOWN MENU STYLE
  2.4  MEGA MENU STYLE
  2.5 HOME VERSION TOW STYLE
  2.6 HOME VERSION THREE STYLE

3. SLIDER SECTION STYLE
  3.1 SLIDER STYLE TWO
4. EXTAR PLAN SECTION STYLE
5. PRICING PLAN STYLE
6. FEATURE SECTION STYLE
7. CLIENT REVIEW SECTION STYLE
8. CALL TO ACTON SECTION STYLE
9. START BLOG STYLE
10. FOOTER SECTION STYLE
11. SCROLL TO TOP BUTTON STYLE
12. LIVE CHAT STYLE
13. CART PAGE STYLE
14. CHECKOUT PAGE STYLE
15. ABOUT US PAGE STYLE
16. CREATIVE TEAM SECTION PAGE STYLE
17. SERVICES PAGE STYLE
18. PRICING TABLE PAGE STYLE
19. BLOG  PAGE STYLE
20. 404  PAGE STYLE
21. UNDER CONSTRUCTION PAGE STYLE
22. CLIENT PAGE STYLE
23. LOGIN PAGE STYLE



---------------------------------------------------------------------------------------*/


/*----------------------------------------
 1. THEME DEFAULT CSS
------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,900|Open+Sans:300,300i,400,400i,600,700,800');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

a img {
    transition: .3s;
}

a img:hover {
    opacity: .8;
}

a,
.btn {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.btn {
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
}

a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: #e66d00;
    text-decoration: none;
}

a,
button {
    outline: medium none;
    color: #858585;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #231F20;
    margin-top: 0px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .5px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #626262;
    margin-bottom: 15px;
}

hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

hr.style-2 {
    border-bottom: 1px dashed #f10;
}

hr.mp-0 {
    margin: 0;
    border-bottom: 1px solid #eceff8;
}

hr.mtb-40 {
    margin: 40px 0;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

label {
    color: #626262;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #F5C599;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #F5C599;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #F5C599;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    
    font-size: 14px;
}


*::placeholder {
    
    font-size: 14px;
}

.mark,
mark {
    background: #E66D00 none repeat scroll 0 0;
    color: #ffffff;
}

span.tooltip-content {
    color: #00a9da;
    cursor: help;
    font-weight: 600;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.fix {
    overflow: hidden;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
    width: 1200px;
}

.container-fluid {
    margin-left: -15px;
    margin-right: -15px;
}


/* --------------------------------
   TRANSITION
-----------------------------------*/

a.button::after,
a.button-small::after {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.share ul,
.share:hover ul {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

a.button-border span,
a.button-border-white span,
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*------------------------------------
  BASIC MARGIN PADDING
--------------------------------------*/

.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}


/*-------------------------------------
    MARGIN TOP
---------------------------------------*/

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-150 {
    margin-top: 150px;
}


/*-------------------------------------
    MARGIN BOTTOM
---------------------------------------*/

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-150 {
    margin-bottom: 150px;
}


/*-------------------------------------
    PADDING TOP
---------------------------------------*/

.pt-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-150 {
    padding-top: 150px;
}


/*-------------------------------------
   PADDING RIGHT
---------------------------------------*/

.pr-0 {
    padding-right: 0;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-100 {
    padding-right: 100px;
}

.pr-110 {
    padding-right: 110px;
}

.pr-120 {
    padding-right: 120px;
}

.pr-130 {
    padding-right: 130px;
}

.pr-140 {
    padding-right: 140px;
}


/*-------------------------------------
    PADDING BOTTOM
---------------------------------------*/

.pb-0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-150 {
    padding-bottom: 150px;
}


/*-------------------------------------
    PADDING LEFT
---------------------------------------*/

.pl-0 {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-100 {
    padding-left: 100px;
}

.pl-110 {
    padding-left: 110px;
}

.pl-120 {
    padding-left: 120px;
}

.pl-130 {
    padding-left: 130px;
}

.pl-140 {
    padding-left: 140px;
}

.pl-150 {
    padding-left: 150px;
}


/*-------------------------------------
   PAGE SECTION PADDING
---------------------------------------*/

.ptb-0 {
    padding: 0;
}

.ptb-10 {
    padding: 10px 0;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-80 {
    padding: 80px 0;
}

.ptb-90 {
    padding: 90px 0;
}

.ptb-100 {
    padding: 100px 0;
}

.ptb-110 {
    padding: 110px 0;
}

.ptb-120 {
    padding: 120px 0;
}

.ptb-130 {
    padding: 130px 0;
}

.ptb-140 {
    padding: 140px 0;
}

.ptb-150 {
    padding: 150px 0;
}


/*-------------------------------------
    PAGE SECTION MARGIN
---------------------------------------*/

.mtb-0 {
    margin: 0;
}

.mtb-10 {
    margin: 10px 0;
}

.mtb-15 {
    margin: 15px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-40 {
    margin: 40px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-60 {
    margin: 60px 0;
}

.mtb-70 {
    margin: 70px 0;
}

.mtb-80 {
    margin: 80px 0;
}

.mtb-90 {
    margin: 90px 0;
}

.mtb-100 {
    margin: 100px 0;
}

.mtb-110 {
    margin: 110px 0;
}

.mtb-120 {
    margin: 120px 0;
}

.mtb-130 {
    margin: 130px 0;
}

.mtb-140 {
    margin: 140px 0;
}

.mtb-150 {
    margin: 150px 0;
}

.mb-180 {
    margin-bottom: 180px
}


/*-------------------------------------
    SECTION VARIATION 
---------------------------------------*/


/*-------------------------------------------------------
    BACKGROUND COLOR VARIATION FOR SECTION
---------------------------------------------------------*/

.white-bg {
    background: #ffffff;
}

.gray-bg {
    background: #f1f1f1;
}

.transparent-bg {
    background: transparent;
}


/*-------------------------------------
    BACKGROUND OPACITY SET
---------------------------------------*/

.bg-opacity-black-10:before,
.bg-opacity-black-20:before,
.bg-opacity-black-30:before,
.bg-opacity-black-40:before,
.bg-opacity-black-50:before,
.bg-opacity-black-60:before,
.bg-opacity-black-70:before,
.bg-opacity-black-80:before,
.bg-opacity-black-90:before,
.bg-opacity-white-10:before,
.bg-opacity-white-20:before,
.bg-opacity-white-30:before,
.bg-opacity-white-40:before,
.bg-opacity-white-50:before,
.bg-opacity-white-60:before,
.bg-opacity-white-70:before,
.bg-opacity-white-80:before,
.bg-opacity-white-90:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg-opacity-black-10:before {
    background: rgba(10, 10, 10, 0.1);
}

.bg-opacity-black-20:before {
    background: rgba(10, 10, 10, 0.2);
}

.bg-opacity-black-30:before {
    background: rgba(10, 10, 10, 0.3);
}

.bg-opacity-black-40:before {
    background: rgba(10, 10, 10, 0.4);
}

.bg-opacity-black-50:before {
    background: rgba(10, 10, 10, 0.5);
}

.bg-opacity-black-60:before {
    background: rgba(10, 10, 10, 0.6);
}

.bg-opacity-black-70:before {
    background: rgba(10, 10, 10, 0.7);
}

.bg-opacity-black-80:before {
    background: rgba(10, 10, 10, 0.8);
}

.bg-opacity-black-90:before {
    background: rgba(10, 10, 10, 0.9);
}

.bg-opacity-black-90:before {
    background: rgba(10, 10, 10, 0.9);
}

.bg-opacity-black-100:before {
    background: rgba(10, 10, 10, 1);
}

.bg-opacity-white-10:before {
    background: rgba(255, 255, 255, 0.1);
}

.bg-opacity-white-20:before {
    background: rgba(255, 255, 255, 0.2);
}

.bg-opacity-white-30:before {
    background: rgba(255, 255, 255, 0.3);
}

.bg-opacity-white-40:before {
    background: rgba(255, 255, 255, 0.4);
}

.bg-opacity-white-50:before {
    background: rgba(255, 255, 255, 0.5);
}

.bg-opacity-white-60:before {
    background: rgba(255, 255, 255, 0.6);
}

.bg-opacity-white-70:before {
    background: rgba(255, 255, 255, 0.7);
}

.bg-opacity-white-80:before {
    background: rgba(255, 255, 255, 0.8);
}

.bg-opacity-white-90:before {
    background: rgba(255, 255, 255, 0.9);
}


/*-------------------------------------
    BACKGROUND IMAGE SET
---------------------------------------*/

.bg-1 {
    background: url(img/bg/1.jpg);
}

.bg-2 {
    background: url(img/bg/2.jpg);
}

.bg-3 {
    background: url(img/bg/3.jpg);
}

.bg-4 {
    background: url(img/bg/4.jpg);
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7,
.bg-8,
.bg-9,
.bg-10 {
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}


/*-------------------------------------
    BUTTONS STYLES
---------------------------------------*/


/*-------------------------------------
    BUTTON DEFAULT
---------------------------------------*/

a.button {
    border: 1px solid #666;
    color: #666;
    display: inline-block;
    font-size: 14px;
    height: 45px;
    letter-spacing: 1px;
    line-height: 44px;
    padding: 0 35px;
    text-transform: uppercase;
}

a.button:hover {
    background: transparent;
    color: #fff;
    border-color: 1px solid #e66d00;
    border-color: #e66d00;
}

a.button-color {
    background: #e66d00 none repeat scroll 0 0;
    border-color: #e66d00;
    color: #fff;
}

a.button-black {
    background: #231F20 none repeat scroll 0 0;
    border-color: #231F20;
    color: #fff;
}

a.button.button-transparent {
    border-color: #fff;
    color: #fff;
    margin-left: 10px;
}

a.button.button-transparent:hover {
    border-color: #e66d00;
    color: #fff;
    background: #e66d00;
}

a.button-color:hover {
    border: 1px solid #e66d00;
    background: transparent;
    color: #e66d00;
}

a.button-normal {
    color: #858585;
    display: inline-block;
}

a.button-normal:hover {
    color: #e66d00;
}

a.button-normal:hover i {
    color: #e66d00;
    transform: translateX(4px);
}

a.button-normal i {
    color: #858585;
    display: inline-block;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    top: 1px;
    transform: translateX(0px);
}

.button-normal i {
    position: relative;
    top: 1px;
}


/*-------------------------------------
   BUTTONS VARIATION
---------------------------------------*/

a.button.large {
    padding: 0 40px;
    font-size: 13px;
}

a.button.medium {
    padding: 0 30px;
}

a.button-small {
    font-size: 13px;
    height: 40px;
    line-height: 38px;
    padding: 0 25px;
}

a.button.small {
    font-size: 11px;
    letter-spacing: 1.5px;
    padding: 0 20px;
}

a.button.extra-small {
    font-size: 10px;
    height: 40px;
    letter-spacing: 1.5px;
    line-height: 40px;
    padding: 0 15px;
}

.b-shadow {
    box-shadow: 0 2px 5px #f1f1f1;
}

.main-wrapper {
    overflow: hidden;
}


/*-------------------------------------
    BLACK BUTTON
---------------------------------------*/

.button.button-black {
    background: #232323 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
}

.button.button-colored {
    background: #00a9da none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
}

.button.button-black:hover {
    background: #fff;
    color: #232323;
    border: 1px solid #e5e5e5;
}


/*----------------------------------------
 2. MAIN HEADER STYLE
------------------------------------------*/

.main-heading {
    margin: 0 auto 60px;
    width: 600px;
}

.main-heading h2 {
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}

.main-heading h2::after,
.plan-heading h2::after {
    background: #e66d00 none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
}

.main-heading h2::before,
.plan-heading h2::before {
    background: #ddd none repeat scroll 0 0;
    bottom: -14px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 200px;
}

.main-heading h2 span {
    color: #e66d00;
}

.logo {
    margin: 25px 0;
}

.logo img {
    width: 178px;
}

.logo h2 {
    border: 4px solid #e66d00;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
    padding: 6px 15px;
}

.logo h2 span {
    color: #e66d00;
    font-weight: 900;
}


/*----------------------------------------
 2.1 START HEADER TOP
------------------------------------------*/

.header-top-areae {
    background: #231f20 none repeat scroll 0 0;
}

.language-top li {
    position: relative;
}

.language-top li ul.language-dropdown {
    background: #f1f1f1 none repeat scroll 0 0;
    left: -5px;
    opacity: 0;
    position: absolute;
    top: 50px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 125px;
    z-index: 11;
}

.language-top li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 43px;
}

.language-dropdown > li:last-child {
    border-bottom: 2px solid #e66d00;
}

.language-dropdown li a img {
    margin-right: 10px;
    width: 18px;
}

.language-top li ul.language-dropdown li a {
    display: block;
    padding: 8px 15px;
    color: #231f20;
}

.language-top li ul.language-dropdown li a:hover {
    color: #E66D00;
}

.language-top {
    display: inline-block;
    margin-right: 10px;
}

.phone-email {
    display: inline-block;
}

.phone-email > li {
    display: inline-block;
    margin-right: 10px;
}

.login-reg > li {
    display: inline-block;
    margin-left: 10px;
}

.reg-style > a {
    background: #e66d00 none repeat scroll 0 0;
    padding: 12px 18px;
    color: #fff;
}

.login-option > a {
    color: #fff;
    display: inline-block;
    padding: 12px 0;
}

.language-top a,
.phone-email a {
    color: #f1f1f1;
    display: inline-block;
    font-size: 13px;
    padding: 12px 0;
}

.language-top a:hover,
.phone-email a:hover,
.login-reg a:hover {
    color: #E66D00;
}

.reg-style > a:hover {
    color: #fff;
}

.reg-style {
    position: relative;
}

.login-reg {
    float: right;
}

.login-option,
.regbox-wrapper {
    position: relative;
}

.loginbox-wrapper,
.regbox-wrapper {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 2px solid #e66d00;
    left: -197px;
    opacity: 0;
    position: absolute;
    top: 80px;
    transition: all 0.5s ease-in-out 0s;
    visibility: hidden;
    width: 350px;
    z-index: 111;
}

.regbox-wrapper {
    left: -261px;
    position: absolute;
    margin-top: -12px;
}

.login-option:hover .loginbox-wrapper,
.login-option:focus .loginbox-wrapper,
.reg-style:hover .regbox-wrapper {
    opacity: 1;
    visibility: visible;
    top: 44px;
}

.loginbox {
    padding: 30px;
}

.form-control.loginbox-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-left: 1px solid #ddd;
    border-radius: 0;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    box-shadow: none;
    height: 45px;
    margin-bottom: 20px;
}

a.Forgot {
    color: #666;
    display: block;
    font-size: 15px;
    margin-bottom: -5px;
    padding: 10px 0;
}

.form-control.loginbox-form.mb-0 {
    margin-bottom: 0;
}


/*----------------------------------------
 2.2  MAIN MENU STYLE
------------------------------------------*/

.main-menu > li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: block;
    letter-spacing: 1px;
    padding: 45px 15px;
    text-transform: uppercase;
}

.main-menu li a:hover,
.main-menu li.active > a {
    color: #E66D00;
}


/*----------------------------------------
 2.3  DROPDOWN MENU STYLE
------------------------------------------*/

.main-menu li ul {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    top: 120%;
    width: 200px;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.main-menu li:hover > ul {
    opacity: 1;
    top: 101%;
    transform: scale(1);
    visibility: visible;
    border: 1px solid#ddd;
}

.dropdown-show-right {
    left: auto;
    right: 0;
}

.main-menu li ul li a {
    font-size: 12px;
    padding: 10px 15px;
}

.mega-menu .single-megamenu a {
    padding: 0;
}

.mega-menu .single-megamenu a.button-normal.megamenu-read-more {
    display: inline-block;
    margin-top: 8px;
}

.main-menu li a span {
    margin-left: 5px;
}


/*----------------------------------------
 2.4  MEGA MENU STYLE
------------------------------------------*/

.main-menu li.static {
    position: static;
}

.main-menu li .mega-menu {
    left: 0;
    width: 100%;
}

.main-menu li .mega-menu.column-4 .single-megamenu {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.single-megamenu > a img {
    margin-bottom: 15px;
}

.main-menu li .mega-menu.column-3 .single-megamenu {
    float: left;
    padding: 0 15px;
    width: 33.3333%;
}

.main-menu li .mega-menu.column-2 .single-megamenu {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.main-menu li .mega-menu.column-1 .single-megamenu {
    float: left;
    width: 100%;
    padding: 0 15px;
}

.single-megamenu > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.single-megamenu > h3 {
    color: #e66d00;
    font-size: 16px;
    text-transform: uppercase;
}

.single-megamenu .menu-read-more {
    display: inline-block;
    margin: 0;
    padding: 0 14px;
}

.menu-read-more {
    color: #e66d00;
    margin: 0;
}

.single-megamenu .other-service > a {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 3px 13px;
}


/*Mobile Menu Style*/

.mobile-menu {
    display: none;
}


/*----------------------------------------
 3. SLIDER SECTION STYLE
------------------------------------------*/

.slider-homepage-one .owl-nav {
    display: none;
}

.slider-item {
    position: relative;
}

.slider-item::after {
    background: #231F20 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-wrapper-two {
    position: relative;
}

.search-domain-area {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.search-domain-wrapper {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 45px;
}

.search--cintrol {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    height: 50px;
    width: 70%;
}

.form-control:focus {
    border-color: #e66d00;
    box-shadow: none;
    outline: 0 none;
}

.search-btn {
    background: #e66d00 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 17px;
    height: 50px;
    margin-left: -4px;
    margin-top: -3px;
    text-transform: uppercase;
    width: 200px;
}

.search-btn:hover {
    background: #cd6304;
    color: #fff;
}

.search-domain-wrapper .checkbox {
    display: inline-block;
    margin-right: 23px;
    padding-left: 20px;
    text-align: right;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #E66D00;
    border-color: #E66D00;
}

.checkbox label::before {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 18px;
    margin-left: -21px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 17px;
}

.checkbox label::after {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -19px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

input.styled[type="checkbox"]:checked + label::after,
input.styled[type="radio"]:checked + label::after {
    color: #fff;
    content: "";
    font-family: "FontAwesome";
    left: 14px;
}

.checkbox label,
.radio label {
    padding-left: 0;
}

.domain-search-title.text-center {
    color: #e66d00;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.search-domain-area.search-domain-index-two.megamenu-search-domain {
    text-align: center;
}


/*----------------------------------------
 4. EXTAR PLAN SECTION STYLE
------------------------------------------*/

.plan-extra-item {
    float: left;
    text-align: center;
    width: 16.6666%;
}

.plan-extra-section {
    background: #f1f1f1 none repeat scroll 0 0;
    overflow: hidden;
}

.plan-extra-item h3 {
    font-size: 23px;
    text-transform: uppercase;
}

.plan-extra-item h3 span {
    color: #e66d00;
}

.plan-extra-head {
    position: relative;
}

.plan-extra-head::before {
    background: #e66d00 none repeat scroll 0 0;
    content: "";
    height: 145px;
    position: absolute;
    right: 0;
    top: -30px;
    width: 2px;
}

.plan-extra-head::after {
    background: #e66d00 none repeat scroll 0 0;
    content: "";
    height: 15px;
    position: absolute;
    right: -6px;
    top: 35px;
    transform: rotate(45deg);
    width: 15px;
}

.plan-extra-item.plan-extra-head > span {
    font-size: 16px;
    text-transform: capitalize;
}

.plan-extra-item p > span {
    color: #e66d00;
    font-family: "Montserrat", sans-serif;
}

.plan-extra-item > h3 {
    margin-bottom: 5px;
    margin-top: 18px;
}


/*----------------------------------------
 5. PRICING PLAN STYLE
------------------------------------------*/

.pricing-filter > li {
    display: inline-block;
}

.pricing-filter li a {
    background: #f1f1f1;
    color: #231F20;
    display: block;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.pricing-filter .active > a {
    color: #fff;
    background: #e66d00 none repeat scroll 0 0;
}

.pricing-filter-wrapper {
    margin-bottom: 70px;
}

.single-price-table {
    border: 1px solid #f1f1f1;
    padding: 30px 0;
    position: relative;
    transition: .3s;
}

.single-price-table:hover {
    border: 1px solid #e66d00;
}

.single-price-table.feature {
    border-color: #e66d00;
}

.price-tage-wrap {
    background: #e66d00 none repeat scroll 0 0;
    border-radius: 3px;
    height: 85px;
    margin: 0 auto 35px;
    position: relative;
    transform: rotate(-45deg);
    width: 85px;
}

.price-tage-wrap::before {
    background: #e66d00 none repeat scroll 0 0;
    content: "";
    height: 4px;
    left: -68px;
    position: absolute;
    top: -19px;
    transform: rotate(45deg);
    width: 100px;
}

.price-tage-wrap::after {
    background: #e66d00 none repeat scroll 0 0;
    content: "";
    height: 4px;
    position: absolute;
    right: -67px;
    top: 100px;
    transform: rotate(45deg);
    width: 100px;
}

.plan-heading > h2 span {
    color: #e66d00;
}

.price-value {
    color: #fff;
    line-height: 85px;
    transform: rotate(45deg);
}

.table-content {
    text-align: left;
}

.table-content > li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 30px;
}

.table-content > li:last-child {
    margin-bottom: 25px;
}

.table-content li i {
    color: #7DB43C;
    margin-right: 7px;
}

.table-content li i.fa-times {
    color: #E52723;
    margin-right: 7px;
}

.prising-head > p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 40px;
    padding: 0 20px;
}

.plan-title {
    text-transform: uppercase;
    position: relative;
}

.prising-head {
    margin-bottom: 50px;
}

.feature-stick-wrapper {
    height: 150px;
    overflow: hidden;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 150px;
}

.add-feature-stick {
    height: 100px;
    right: -5px;
    top: -4px;
    width: 113px;
}

.feature-stick::after {
    right: 0;
}

.feature-stick::before {
    left: 0;
}

.feature-stick::after,
.feature-stick::before {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(230, 109, 0, 0.6);
    bottom: -3px;
    content: "";
    position: absolute;
}

.feature-stick {
    background: #e66d00 none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: montserrat;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 28px;
    transform: rotate(45deg);
    z-index: 2;
}

.add-feature-stick .feature-stick {
    font-size: 16px;
    font-weight: 500;
    left: 5px;
    padding: 6px 0;
    top: 20px;
    width: 140px;
}

.pricing-btn.button {
    border-color: #e66d00;
    color: #e66d00;
    transition: .3s;
}

.single-price-table:hover .pricing-btn.button {
    background: #E66D00;
    color: #fff;
}

.single-price-table.feature .pricing-btn.button {
    background: #E66D00;
    color: #fff;
}


/*----------------------------------------
 6. FEATURE SECTION STYLE
------------------------------------------*/

.feature-item {
    text-align: center;
}

.feature-icon {
    border: 1px solid #e66d00;
    border-radius: 50%;
    color: #e66d00;
    font-size: 25px;
    height: 70px;
    line-height: 68px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 70px;
}

.feature-icon::before {
    background: transparent none repeat scroll 0 0;
    border: 3px solid #ab580d;
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.5s ease 0s;
    width: 100%;
}

.feature-item:hover .feature-icon::before {
    opacity: 1;
    transform: scale(1);
}

.feature-item:hover .feature-icon {
    border-color: #ab580d;
    background: #e66d00;
    color: #fff;
}

.feature-item:nth-child(-n+4) {
    margin-bottom: 40px;
}

.get-started-wrapper {
    padding: 60px 0;
}

.get-started-section {
    background: #e66d00 none repeat scroll 0 0;
}

.get-started-wrapper p {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
}

.get-started-wrapper > h2 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 5px 0;
}

.call-to-action-btn {
    padding: 66px 0;
    text-align: right;
}

.get-started-btn.button {
    background: #231f20 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: 600;
    height: 50px;
    letter-spacing: 2px;
    line-height: 52px;
    padding: 0 50px;
}

.get-started-btn.button:hover {
    background: #fff none repeat scroll 0 0;
    color: #231f20;
}


/*----------------------------------------
 7. CLIENT REVIEW SECTION STYLE
------------------------------------------*/

.client-review-item {}

.client-text-area {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 52px 30px 30px;
}

.client-thum {
    margin: 0 auto;
    position: relative;
    width: 100px;
}

.client-review-wrapper {
    position: relative;
}

.client-thum > img {
    border: 5px solid #e66d00;
    border-radius: 50%;
    margin-bottom: -42px;
}

.client-thum {
    border: 5px solid #fff;
    border-radius: 50%;
    height: 95px;
    margin: 0 auto -47px;
    position: relative;
    width: 95px;
}

.client-text-area p i {
    color: #e66d00;
    font-size: 30px;
    margin-left: 0;
    margin-right: 15px;
}

.client-text-area p {
    font-size: 15px;
}

.client-info {
    text-align: right;
}

.client-info > h4 {
    font-size: 17px;
    line-height: 0;
}

.client-info > span {
    font-size: 12px;
}


/*----------------------------------------
 8. CALL TO ACTON SECTION STYLE
------------------------------------------*/

.single-stats-item {
    float: left;
    width: 25%;
}

.stats-area {
    overflow: hidden;
}

.single-stats-item:nth-child(2n+1) {
    background: #e66d00 none repeat scroll 0 0;
}

.single-stats-item:nth-child(2n) {
    background: #231f20 none repeat scroll 0 0;
}

.single-stats-item {
    padding: 70px 0;
}

.stats-item-heading > h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
}

.stats-item-heading i {
    color: #fff;
    font-size: 45px;
}

.single-stats-item span {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
}


/*----------------------------------------
 9. START BLOG STYLE
------------------------------------------*/

.blog-post {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.Author-left {
    float: left;
}

.date-right {
    float: right;
}

.meta-info {
    overflow: hidden;
}

.meta-info a:hover {
    color: #E66D00;
}

.post-content {
    padding: 20px;
}

.post-content-inner > h3 {
    font-size: 16px;
    margin: 10px 0;
    text-transform: uppercase;
}

.post-content-inner h3 a:hover {
    color: #E66D00;
}

ul.meta-teg li {
    display: inline-block;
    margin-right: 2px;
    position: relative;
}

ul.meta-teg li::after {
    content: ",";
    position: absolute;
    right: -2px;
    color: #666;
}

ul.meta-teg li:last-child::after {
    content: "";
    position: absolute;
    right: -2px;
}

ul.meta-teg li:first-child::after {
    content: "";
    position: absolute;
    right: -2px;
}

ul.meta-teg li a {
    color: #858585;
    font-size: 14px;
    margin-right: 5px;
}

.bloge-comment {
    float: right;
}

.bloge-comment > a {
    color: #858585;
    font-size: 12px;
    margin: 0 0 0 26px;
}

.bloge-comment a i {
    color: #e66d00;
    position: relative;
    right: 7px;
    top: 2px;
}

ul.meta-teg {
    display: inline-block;
}

.meta-teg a:hover,
.bloge-comment > a:hover {
    color: #e66d00;
}

.post-thumbnail a img {
    transition: .3s;
}

.post-thumbnail a img:hover {
    opacity: .8;
}

.m-5 {
    color: #e66d00;
    margin-right: 5px;
}


/*----------------------------------------
 10. FOOTER SECTION STYLE
------------------------------------------*/

.footer-top-area {
    background: #231f20 none repeat scroll 0 0;
}

.footer-widget-item > h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 35px;
    position: relative;
    text-transform: uppercase;
}

.footer-widget-item > h4::after {
    background: #e66d00 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 65px;
}

.footer-widget-item > h4::before {
    background: #666 none repeat scroll 0 0;
    bottom: -12px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.widget-link > li:last-child,
.post.media-post:last-child {
    border-bottom: medium none;
}

.widget-address > li {
    margin: 5px 0;
}

.widget-address li a {
    color: #f1f1f1;
}

.widget-link > li {
    border-bottom: 1px dashed #666;
}

.widget-link li a {
    color: #f1f1f1;
    display: inline-block;
    margin: 10px 0;
}

.widget-link li a:hover,
.widget-address li a:hover,
.post-title a:hover,
.copyright p a:hover {
    color: #E66D00;
}

.footer-widget-item > p {
    color: #f1f1f1;
}

.post-title > a {
    color: #d1d1d1;
    font-size: 15px;
    margin-left: 10px;
}

h5.post-title {
    margin-bottom: 0;
}

.post-date {
    margin-left: 60px;
}

.post-thumb > img {
    display: inline-block;
    float: left;
}

.post.media-post {
    border-bottom: 1px dashed #666;
    margin-bottom: 15px;
}

.post.media-post:last-child {
    margin-bottom: 0;
}

.form-control.widget-contact {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #666;
    border-radius: 0;
    height: 44px;
}

.form-control.widget-contact:hover,
.form-control.widget-contact:focus,
.widget-massage:hover,
.widget-massage:focus {
    border-color: #E66D00;
}

.form-control.widget-contact:focus {
    box-shadow: none;
}

.widget-massage {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #666;
    color: #666;
    height: 100px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.widget-submit {
    background: #e66d00 none repeat scroll 0 0;
    border: 1px solid #e66d00;
    border-radius: 1px;
    color: #fff;
    font-size: 12px;
    height: 35px;
    letter-spacing: 1px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: .3s;
}

.widget-submit:hover {
    border: 1px solid#f1f1f1;
    color: #f1f1f1;
    background-color: transparent;
}

.footer-area {
    background: #231b1d none repeat scroll 0 0;
}

.copyright > p {
    line-height: 60px;
    margin: 0;
}

.footer-logo h3 {
    border: 3px solid #e66d00;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    padding: 8px 20px;
}

.footer-logo span {
    color: #e66d00;
}

.footer-logo {
    margin-bottom: 20px;
}

.copyright {
    line-height: 20px;
}

.copyright p a {
    color: #E66D00;
}

.read-more {
    float: right;
}

.read-more a i {
    position: relative;
    top: 1px;
    transform: translateX(0);
    transition: .3s;
}

.read-more:hover a i {
    position: relative;
    top: 1px;
    transform: translateX(4px);
}

.form-group:last-child {
    margin-bottom: 0;
}


/*----------------------------------------
 11. SCROLL TO TOP BUTTON STYLE
------------------------------------------*/

.scroll-btn {
    bottom: 11px;
    color: #fff;
    font-size: 28px;
    left: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}

.scroll-btn.btn-show {
    opacity: 1;
    visibility: visible;
    z-index: 9;
    right: 30px;
}

.scroll-btn:hover {
    color: #555;
}

.scroll-btn.btn-show i {
    background: #e66d00 none repeat scroll 0 0;
    bottom: 50px;
    color: #fff;
    font-size: 25px;
    height: 40px;
    line-height: 37px;
    opacity: 1;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 111;
}

.scroll-btn.btn-show:hover i {
    opacity: 1;
}


/*----------------------------------------
 12. LIVE CHAT STYLE
------------------------------------------*/

.live-chact-area {
    position: relative;
}

.live-chact-wrapper {
    position: fixed;
    right: 0;
    z-index: 99999;
    bottom: 0;
    width: 280px;
}

.live-chact-wrapper .panel {
    border: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.live-chact-wrapper .panel-primary .panel-heading .btn.btn-primary {
    background: #e66d00 none repeat scroll 0 0;
    border: medium none;
    width: 280px;
    text-align: left;
}

.panel-primary .panel-heading {
    background: #e66d00 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
}

.panel-footer {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
}

.form-control.chat-writ-box {
    border: 1px solid #e66d00;
    border-radius: 0;
    height: 37px;
}

.btn.btn-default.chat-send-btn {
    background: #e66d00 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 37px;
}

.btn.btn-default.chat-send-btn:hover {
    background: #CD6304;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px 12px;
}

.chact-user-pic {
    border: 2px solid #e66d00;
    border-radius: 50% 50% 0;
    float: left;
    height: 40px;
    margin: 18px 0;
    width: 40px;
}

.chat-header {
    color: #231f20;
    margin-left: 50px;
}

.chat-body > p {
    font-size: 13px;
    line-height: 21px;
    margin-left: 50px;
}

.chat-body {
    margin: 20px 0;
}

.left {
    border-bottom: 1px solid #f1f1f1;
}

.left:last-child {
    border-bottom: 0px solid #f1f1f1;
}

small.pull-right {
    margin-top: -11px;
}


/*----------------------------------------
 2.5 HOME VERSION TOW STYLE
------------------------------------------*/

.search-domain-area.search-domain-index-two {
    background: #f1f1f1 none repeat scroll 0 0;
    position: static;
    top: 0;
    transform: translateY(0px);
}

.search-domain-area.search-domain-index-two.domain-search-page {
    background: #fff none repeat scroll 0 0;
    padding: 150px 0;
}


/*----------------------------------------
 3.1 SLIDER STYLE TWO
------------------------------------------*/


/**/

.slider-bg-one {
    background-image: url(img/slider/1.jpg);
}

.slider-bg-two {
    background-image: url(img/slider/2.jpg);
}

.slider-content-area {
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.slider-wrapper-two .slider-item > img {
    width: 100%;
    height: 500px;
}

.slide-text {
    padding: 100px 0;
}

.slider-conrent-picture {
    bottom: -36px;
    position: relative;
}

.slide-text ul li span {
    margin-right: 8px;
}

.slide-text h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: -4px;
}

.slide-text h1 span {
    color: #e66d00;
}

.slide-text > h2 {
    color: #fff;
    font-family: open sans;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.slide-text li {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin: 8px 0;
}

.slider-item {
    background-color: #dddd;
    background-position: center center;
    background-size: cover;
    color: #fff;
    font-size: 24px;
    height: 600px;
}

.slide-text ul {
    margin-bottom: 40px;
}

.button.slider-single-btn {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    margin: -1px 8px;
    padding: 0 35px;
    border-radius: 2px;
}

.button.slider-single-btn.active {
    background: #e66d00 none repeat scroll 0 0;
    border-color: #e66d00;
}

.slider-wrapper-two .owl-nav .owl-prev,
.slider-wrapper-two .owl-nav .owl-next {
    border: 1px solid #E66D00;
    color: #E66D00;
    font-size: 30px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    transition: .3s;
    opacity: 1;
    visibility: hidden;
}

.slider-wrapper-two .owl-nav .owl-next {
    right: 0;
}

.slider-wrapper-two .owl-nav .owl-prev {
    left: 0;
}

.slider-wrapper-two .owl-nav .owl-prev i,
.slider-wrapper-two .owl-nav .owl-next i {
    display: block;
    line-height: 20px;
    padding: 8px 11px;
}

.slider-wrapper-two .owl-nav .owl-next i {
    padding-left: 14px;
}

.slider-area:hover .slider-wrapper-two .owl-nav .owl-prev {
    opacity: 1;
    visibility: visible;
    left: 40px;
}

.slider-area:hover .slider-wrapper-two .owl-nav .owl-next {
    opacity: 1;
    visibility: visible;
    right: 40px;
}

.slider-wrapper-two .owl-nav .owl-next:hover,
.slider-wrapper-two .owl-nav .owl-prev:hover {
    background: #E66D00;
    color: #fff;
}


/*----------------------------------------
 2.6 HOME VERSION THREE STYLE
------------------------------------------*/

.plan-extra-section.home-3-extra-plan-section.white-bg {
    background: #fff none repeat scroll 0 0;
}

.plan-extra-item > p {
    margin-bottom: 0;
}

.plan-extra-section.home-3-extra-plan-section .plan-extra-item {
    margin-top: 12px;
}

.price-tage-wrap-three .price-value {
    color: #000;
    transform: rotate(0deg);
    font-size: 50px;
}

.price-tage-wrap-three .price-value {
    background: #231f20 none repeat scroll 0 0;
    color: #fff;
    font-size: 50px;
    transform: rotate(0deg);
    transition: .3s;
}

.pricing-content-wrapper-three .plan-title {
    font-size: 30px;
    color: #E66D00;
    transition: .3s;
}

.pricing-content-wrapper-three .prising-head {
    margin-bottom: 30px;
}

.pricing-content-wrapper-three .single-price-table:hover .price-tage-wrap-three .price-value {
    background: #E66D00 none repeat scroll 0 0;
}

.pricing-table-content-wrapper.pricing-content-wrapper-three .single-price-table:hover .plan-title {
    color: #231f20;
}

.feature-area-three .feature-item .feature-icon {
    border-radius: 0;
    margin-bottom: 30px;
    transform: rotate(45deg);
}

.feature-area-three .feature-item .feature-icon i {
    transform: rotate(-45deg);
}

.feature-area-three .feature-item:hover .feature-icon {
    border-color: transparent;
}

.feature-area-three .feature-icon::before {
    background: transparent none repeat scroll 0 0;
    border: 0px;
    border-radius: 0;
}


/*----------------------------------------
 13. CART PAGE STYLE
------------------------------------------*/

.page-title > h2 {
    text-transform: uppercase;
}

.page-title-link li {
    float: left;
}

.page-title-link > li::after {
    content: "/";
    color: #858585;
}

.page-title-link > li:last-child::after {
    content: "";
}

.page-title-link > li:first-child {
    margin-left: -6px;
}

.page-title-link li a {
    display: inline-block;
    padding: 0 6px;
}

.table thead {
    background: #e66d00 none repeat scroll 0 0;
    color: #fff;
}

.table > thead > tr > th {
    border-bottom: 0 none;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding: 20px 10px;
    vertical-align: bottom;
    font-size: 18px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-color: -moz-use-text-color #f1f1f1 #f1f1f1;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    line-height: 1.42857;
    padding: 18px 10px;
    vertical-align: top;
}

.table > tbody > tr > th > i {
    cursor: pointer;
    margin-right: 10px;
    transition: .3s;
}

.table > tbody > tr > th:hover > i {
    color: #E66D00;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
    padding: 20px 10px;
}

.btn-default.button.button-chack-out {
    background: #231f20 none repeat scroll 0 0;
    border-color: #231f20;
    border-radius: 2px;
    color: #fff;
    float: right;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s ease-in-out 0s;
}

.btn-default.button.button-chack-out:hover {
    background: #E66D00;
    border-color: #E66D00;
}

.btn-default.button.button-chack-out i {
    display: inline-block;
    line-height: 39px;
    margin-left: 5px;
    transition: all 0.3s ease-in-out 0s;
}

.btn-default.button.button-chack-out:hover i {
    transform: translateX(5px);
}

.chack-out-heading {
    color: #e66d00;
    font-size: 25px;
    text-transform: uppercase;
}

.form-control.coupon-box {
    border: 1px solid #e66d00;
    border-radius: 0px;
    height: 45px;
    width: 250px;
}

.coupon-code div {
    display: inline-block;
}

.btn.coupon-btn.btn-alt {
    bottom: -36px;
    display: inline-block;
    height: 45px;
    line-height: 44px;
    position: relative;
    text-transform: uppercase;
    padding: 0px 25px;
}

.coupon-code > h3 {
    color: #e66d00;
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
}


/*----------------------------------------
 14. CHECKOUT PAGE STYLE
------------------------------------------*/

.checkout-area .loginbox.login-page-box {
    display: none;
    margin-bottom: 30px;
}

.form-item {
    margin: 15px 0;
}

.form-item input {
    border: 1px solid#ddd;
    border-radius: 0px;
    height: 45px;
    box-shadow: none;
}

.form-item.hanf-line {
    float: left;
    margin-right: 15px;
    width: 48%;
}

.form-item.full-line {
    margin-top: 15px;
}

.form-item.full-line input {
    width: 98%;
}

.form-item.full-line > label {
    margin-top: 15px;
}

.chackout-recheck > a {
    color: #e66d00;
}

.chackout-recheck {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.checkout-form > h2 {
    color: #e66d00;
    font-size: 25px;
    text-transform: uppercase;
}

.checkout-sldebar .chack-out-heading {
    margin-bottom: 55px;
}


/*----------------------------------------
 15. ABOUT US PAGE STYLE
------------------------------------------*/

.about-promo-content h3 {
    margin-bottom: 30px;
}

.heading-three {
    position: relative;
}

.heading-three::after {
    background: #ddd none repeat scroll 0 0;
    bottom: -12px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100px;
}

.heading-three::before {
    background: #e66d00 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
    z-index: 1;
}

.about-promo-btn .button.button-transparent {
    border-color: #858585;
    color: #858585;
}

.about-promo-content > h4 {
    font-family: open sans;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.about-brn-two.button {
    margin-left: 15px;
}

.about-promo-content > p {
    margin-bottom: 30px;
}


/*----------------------------------------
 16. CREATIVE TEAM SECTION PAGE STYLE
------------------------------------------*/

.team-pic {
    position: relative;
}

.team-pic::after {
    background: #e66d00 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.4s ease 0s;
    width: 100%;
}

.creative-team-item:hover .team-pic::after {
    transform: scale(1);
}

.creative-team-item:hover .team-social {
    opacity: 1;
    top: 50%;
}

.team-social {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    z-index: 1;
    opacity: 0;
}

.team-social > li {
    display: inline-block;
}

.team-social li a {
    background: #231f20 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px;
    width: 40px;
}

.team-social li a:hover {
    background: #fff;
    color: #E66D00;
}

.team-details > h4 {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.team-details {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-color: #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
}

.creative-team-item {
    margin-left: 11px;
    margin-right: 11px;
}

.creative-team-wrapper .slick-dots {
    margin-top: 20px;
    text-align: center;
}

.creative-team-wrapper .slick-dots li {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 0 4px;
    padding: 2px;
    transition: .3s;
}

.creative-team-wrapper .slick-dots li.slick-active {
    background: #E66D00;
}

.creative-team-wrapper .slick-dots li button {
    border: 0 none;
}

.creative-team-wrapper .slick-dots li.slick-active button {
    color: #e66d00;
}


/*----------------------------------------
 17. SERVICES PAGE STYLE
------------------------------------------*/

.service-item {
    border: 1px solid #f1f1f1;
    padding: 40px 5px;
    transition: border-color 0.25s ease 0s, box-shadow 0.25s ease-in-out 0s;
}

.service-item:hover,
.service-item.active {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.service-item:hover .service-icon i,
.service-item:hover a {
    color: #E66D00;
}

.service-item:hover h4 {
    color: #231F20;
}

.service-item h4 {
    font-size: 18px;
}

.service-icon i {
    color: #231f20;
    font-size: 40px;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.service-item h4 {
    color: #e66d00;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.col-md-3.col-sm-6:nth-child(-n+4) .service-item {
    margin-bottom: 40px;
}

.choose-icon i {
    color: #e66d00;
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
    width: 26px;
}

.choose-item > h4 {
    font-size: 18px;
}

.col-md-6:nth-child(-n+2) .choose-item {
    margin-bottom: 30px;
}

.choose-right-content > h3 {
    margin: 30px 15px;
}


/*----------------------------------------
 18. PRICING TABLE PAGE STYLE
------------------------------------------*/

.plan-heading {
    margin: 0 auto 70px;
    width: 700px;
}

.plan-heading > h2 {
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
}

.plan-heading > h2 spen {
    color: #E66D00;
}


/*----------------------------------------
 19. BLOG  PAGE STYLE
------------------------------------------*/

.blog-comment {
    display: inline;
    margin-left: 20px;
}

.blog-comment a i {
    font-size: 12px;
    margin-right: 7px;
    color: #E66D00;
}

.blog-comment > a {
    margin-right: 10px;
}

.pagination-nav.blog-sidebar {
    text-align: center;
}

.blog-comment > a:hover {
    color: #E66D00;
}

.single-blog-post {
    margin-bottom: 50px;
}

.post-content-blog-page {
    padding: 40px;
}

.widget-search {
    border: 1px solid #ddd;
    height: 40px;
    padding: 7px;
    width: 211px;
}

.widget-search:hover,
.widget-search:focus {
    border-color: #e66d00;
}

.widget-title {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.single-widget {
    margin-bottom: 40px;
    width: 95%;
}

.blog-widget-submit {
    background: #e66d00 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 1px;
    color: #fff;
    font-size: 15px;
    height: 40px;
    padding: 0 14px;
    text-transform: uppercase;
    position: absolute;
}

.post-cat-list a {
    display: block;
    margin: 7px 0;
}

.widget-single-post img {
    float: left;
    margin-top: 7px;
}

.widget-post-content h4 a {
    font-size: 13px;
}

.widget-post-content {
    margin-left: 90px;
}

.widget-single-post {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.widget-post-content > h4 {
    line-height: 15px;
}

.widget-post-content > p {
    margin-bottom: 0;
}

.single-widget.single-widget-right {
    float: right;
    margin-bottom: 40px;
    width: 95%;
}

.pagination-nav.blog-sidebar li a {
    border: 1px solid #ddd;
    display: block;
    padding: 3px 8px;
}

.pagination-nav.blog-sidebar li a i {
    font-size: 12px;
}

.pagination-nav.blog-sidebar li.active a {
    color: #E66D00;
    border-color: #E66D00;
}

.pagination-nav.blog-sidebar li a:hover {
    border-color: #E66D00;
}

.blog-post-section.blog-post-no-sidebar .blog-post {
    margin-bottom: 50px;
}

.tags > a {
    display: inline-block;
    padding: 3px 5px;
    position: relative;
}

.tags > a::after {
    bottom: 0;
    content: " ,";
    position: absolute;
}

.tags > a:last-child::after {
    bottom: 0;
    content: " ";
    position: absolute;
}


/*Comment CSS*/

article.single-blog-post {
    margin-bottom: 20px;
}

.post-comment-section {
    margin-bottom: 40px;
}

.post-comment-section h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.media-left {
    padding-right: 12px;
}

.time-reply {
    overflow: hidden;
}

.comment-time {
    float: left;
}

.reply {
    float: right;
}

.media-body .c-title {
    color: #303030;
    margin-bottom: 0;
}

.media-body > p {
    margin: 0;
}

.media {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0;
    padding: 30px 0;
}

.comment-time span {
    color: #858585;
    font-size: 12px;
}

.reply > a {
    color: #000;
}

.reply > a:hover {
    color: #858585;
}

.media.reply {
    margin-left: 30px;
}

.media {
    clear: both;
}

blockquote {
    border-left: 7px solid #eee;
    margin: 0 0 20px;
    padding: 8px 35px;
}

.media-left img {
    border: 2px solid #ddd;
}

.input-field {
    float: left;
    width: 33.3333%;
    margin-bottom: 30px;
}

.validate {
    border: 1px solid #ddd;
    height: 40px;
    padding: 10px;
    width: 97%;
}

.validate:hover,
.validate:focus,
.clear-fix.my-comment-box textarea:hover,
.clear-fix.my-comment-box textarea:focus {
    border-color: #e66d00;
}

.comment-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.clear-fix.my-comment-box textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    resize: none;
    width: 99%;
}

.single-post-social li {
    display: inline-block;
}

.single-post-social > ul {
    float: right;
    margin-top: -19px;
}

.post-footer-meta {
    margin-top: 25px;
}

.single-post-social ul li a {
    color: #858585;
    margin-right: 10px;
    transition: .3s;
}

.single-post-social ul li a:hover {
    color: #e66d00;
}


/*----------------------------------------
 20. 404  PAGE STYLE
------------------------------------------*/

.not-found-wrapper h1 {
    color: #e66d00;
    font-size: 200px;
}

.not-found-wrapper h2 {
    font-size: 60px;
}

.not-found-wrapper h2 span {
    color: #E66D00;
}

.not-found-wrapper p {
    font-size: 17px;
}

.not-found-wrapper > a {
    font-size: 20px;
}


/*----------------------------------------
 21. UNDER CONSTRUCTION PAGE STYLE
------------------------------------------*/

.under-construction-wrapper h1 {
    color: #e66d00;
    font-size: 70px;
}

.construction-icon i {
    color: #e66d00;
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.form-control.construction-subscribe {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    height: 45px;
    width: 50%;
}

.construction-submit {
    border: 1px solid #ddd;
    display: inline-block;
    height: 45px;
    letter-spacing: 1px;
    line-height: 44px;
    margin-left: 10px;
    padding: 0 28px;
    text-transform: uppercase;
}

.construction-submit:hover {
    background: #E66D00;
    color: #fff;
    border-color: #E66D00;
}

form .form-control.construction-subscribe {
    margin-bottom: 30px;
}

.form-control.construction-subscribe:hover,
.form-control.construction-subscribe:focus {
    border-color: #E66D00;
}

.under-construction-wrapper > p {
    font-size: 16px;
    margin: 0 auto 50px;
    width: 700px;
}

.construction-social li {
    display: inline-block;
}

.construction-social li a {
    display: block;
    font-size: 25px;
    padding: 0 10px;
}

.under-construction-wrapper .logo {
    margin-top: 0;
}

.follow-title {
    color: #e66d00;
    font-size: 16px;
}


/*Contact Form style*/

.form-control.contact-form {
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin-bottom: 20px;
}

.contact-form-text {
    height: 150px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

.form-control.contact-form:hover,
.form-control.contact-form:focus,
.contact-form-text:hover,
.contact-form-text:focus,
.newsletter:hover,
.newsletter:focus {
    border-color: #E66D00;
}

.button.form-btn {
    background: #231f20 none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 13px;
    height: 45px;
    letter-spacing: 2px;
    margin-top: 25px;
    padding: 0 35px;
    transition: all 0.3s ease-in-out 0s;
}

.button.form-btn:hover,
.newsletter-btn:hover {
    background: #E66D00;
    border-color: #E66D00;
    color: #fff;
}

.contact-heading > h2 {
    margin-bottom: 40px;
}

.newsletter {
    border: 1px solid #ddd;
    height: 45px;
    padding: 10px;
    width: 300px;
}

.newsletter-btn {
    background: #231f20 none repeat scroll 0 0;
    border: 1px solid #231f20;
    color: #fff;
    height: 45px;
    margin-left: -4px;
    padding: 0 18px;
    transition: all 0.3s ease-in-out 0s;
}

.contact-address li {
    margin: 11px 0;
}

.contact-address ul li i {
    margin-right: 15px;
    color: #E66D00;
}

.contact-address {
    margin-bottom: 30px;
}

.contact-social > li {
    display: inline-block;
}

.contact-social li a {
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 39px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
}

.contact-social li a:hover {
    border-color: #E66D00;
}

.contact-social {
    margin-bottom: 28px;
}

#map {
    width: 100%;
    height: 500px;
}


/*----------------------------------------
 22. CLIENT PAGE STYLE
------------------------------------------*/

.col-md-3.col-sm-4:nth-child(n+6) .cms-client-item,
.col-md-3.col-sm-4:nth-child(n+6) .server-client-item,
.col-md-3.col-sm-4:nth-child(n+6) .marketplace-client-item {
    margin-top: 25px;
}

.cms-client-item,
.server-client-item,
.marketplace-client-item {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    transition: all .4s ease-in-out;
}

.cms-client-item:hover img,
.server-client-item:hover img,
.marketplace-client-item:hover img {
    filter: grayscale(100%);
}


/*----------------------------------------
 23. LOGIN PAGE STYLE
------------------------------------------*/

.loginbox.login-page-box,
.loginbox.reg-page-box {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 70px 50px 80px;
}

.loginbox.login-page-box > h2,
.loginbox.reg-page-box > h2 {
    color: #e66d00;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.button-color.button.login-button,
.button-color.button.reg-button {
    display: block;
    margin-top: 17px;
}


/*Add Homepage Four*/
.search-domain-area.homepage-4-search-domain {
  
  position: static;
  transform: translateY(0%);
}
.homepage-4-search-domain .search-domain-wrapper {
  background: rgba(241, 241, 241, 0.7) none repeat scroll 0 0;
}
